doctype html
html
    head
        title Character Sheet
    body
        .container
            h1 Character Sheet
            p Character Name: #{character.characterName}
            p Race: #{character.race}
            p Class: #{character.class}
            p Level: #{character.level}