doctype html
html
    head
        title Home
    body
        h1 Welcome to D&D Character App
        a(href='/characters/create') Create a new character
        a(href='/characters') View existing characters
